<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/HelloFX/src/hellofx/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hellofx.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HelloFX"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--module-path ${PATH_TO_FX} --add-modules javafx.controls,javafx.fxml"/>
</launchConfiguration>
